
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}.int p{
        color: green;
        text-align: start;
        margin: 10px;
        word-wrap: wrap;
}
.heading, .newsp{
    word-wrap: wrap;
    margin: 5px;
    text-align: start ;
}

.moreNews{
    color: white;
    font-weight: 500;
    padding: 5px 10px;
    border: none;
    background: #4090F5;
    transition: all .5s ease ;
    z-index: 1;
    border-radius: 5px;
}
.moreNews:hover{
    color: white;
    background: #0A3468;
}
h3{
    margin: 10px;
    text-transform: uppercase;
}