.int p{
        color: white;
        margin: 10px;
}

.moreNews{
    color: white;
    font-weight: 500;
    padding: 5px 10px;
    border: none;
    background: #4090F5;
    transition: all .5s ease ;
    z-index: 1;
    border-radius: 5px;
    justify-self: center;
}
.moreNews:hover{
    color: white;
    background: #0A3468;
}
h3{
    margin: 10px;
    text-transform: uppercase;
}