:root{
    --background: white;
    --maincolor: white;
}
.location,.phone{color:#989898}body,html{overflow-x:hidden}header,nav ul{place-items:center;display:flex}.intro,.loader,header,header nav,nav ul{display:flex}.gettouch,nav a::before{font-weight:1000}.slide,.slider{place-self:center}.intro .hello,.proj,.slide{align-self:center;text-align:center}#contact-form h5,.aboutme .aboutwords,.aboutme h4,body{font-family:'Courier New',Courier,monospace}#send-btn,.hamburgermenu,.home{cursor:pointer}.aboutme,.intro .hello,.proj,.slide,.slide p,footer{text-align:center}.footer-section ul,nav a{text-transform:uppercase}*{margin:0;padding:0;box-sizing:border-box}.phone{margin:5px;font-size:20px}mark{border-radius:5px;background:#fff}.proj{font-size:1.7rem;color:#ebebeb;text-shadow:0 -2px 5px #fff}#clock,#fa-phone,.intro .hello,.loader,i{color:#fff}.loader{position:fixed;top:0;left:0;width:100%;height:100%;align-items:center;justify-content:center;flex-direction:column;font-size:2rem;font-weight:900;background:linear-gradient(to right ,#000 ,#2134ff);z-index:100}.spinner{border:2px solid #b3b3b3;width:60px;height:60px;border-radius:50%;border-top:8px dotted #2dbede;border-bottom:4px dotted #2dbede;border-left:6px dotted #2dbede;border-right:10px dotted #2dbede;animation:1s linear infinite spin}@keyframes spin{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}i{font-size:25px}html{scroll-behavior:smooth}header{flex-direction:row;width:100%;height:auto;justify-content:space-between;background:0 0}header h1{font-size:2em;margin:7px}header nav{margin:2px}nav li{list-style-type:none;margin:5px}.intro{margin:10px;flex-direction:row;justify-content:space-between}nav a{color:#3032a9;font-weight:400;text-decoration:none;position:relative;margin-bottom:40px}nav a::before{content:"";left:0;position:absolute;bottom:0;width:0%;color:#090b0e;margin-top:10px;height:3px;border-radius:3px}nav a:hover{color:#a9a9a9}nav .get-btn{border:none;color:#000;font-weight:600;padding:4px;border-radius:5px;box-shadow:0 0 5px #202176;transition:.5s ease-in-out;background:#0b0eba}nav .get-btn:hover{color:#000;background-color:#aeaff8}.hamburgermenu{width:30px;height:20px;position:relative;margin:4px}.hamburgermenu span{position:absolute;height:3px;transition:.4s;width:100%;z-index:1000;background:#311f39;border-radius:3px}.hamburgermenu span:first-child{top:0}.hamburgermenu span:nth-child(2){bottom:50%}.hamburgermenu span:nth-child(3){top:70%}.hamburgermenu.active span:first-child{background:#fff;transform:translateY(2px) rotate(45deg)}.hamburgermenu.active span:nth-child(2){opacity:0;background:#fff;transform:translateX(20px)}.hamburgermenu.active span:nth-child(3){background:#fff;transform:translateY(-12px) rotate(-45deg)}#fa-phone{margin:5px}#facebook,#whatsapp{color:#a09c9c;margin:5px}#facebook{font-weight:800}#fa-envelope,#fa-facebook,#fa-phone,#fa-whatsapp{font-size:20px;margin-right:4px}textarea{color:#2f314c;font-weight:700;rresize:vertical;overflow-y:auto;height:auto}textarea:focus{border:none;outline:0;border-radius:5px}.intro img,.slide,.slider{border-radius:5px}.intro img{width:200px;height:150px;margin:5px;box-shadow:0 0 10px #000}.hamburgermen.show{display:none}.intro .hello{margin-left:20px;font-size:1.4rem}.intro .word{margin-bottom:10px;width:max-content;text-wrap:nowrap;overflow:hidden;animation:4s steps(20) alternate typing}.intro .word::before{left:10%;width:90%}.aboutme{animation-timeline:view(800px 0)}@keyframes fade{from{opacity:.5;transform:scale(.6)}to{opacity:1;transform:scale(1)}}.aboutme h4{font-weight:1000}.aboutme .aboutwords{column-count:1;font-weight:500}@keyframes typing{0%{width:0}100%{width:10ch}}.slider{display:grid;width:95%;height:auto;margin:30px 5px 5px;background:rgb(0,0,0,.5);box-shadow:0 0 5px #fff;gap:5px;justify-content:center;padding:20px 0;align-items:center;grid-template-columns:1fr}.slide,.slide img{display:inline-block}.slide{width:160px;height:160px;border:2px solid #00f;box-shadow:-2px 2px 5px #eee9e9;margin:5px;transition:2s;opacity:1;transform:translateX(-10%);background-color:rgba(242,239,239,.837)}.slide.show{opacity:1;transform:translateX(0)}.slide img{width:100%;height:80%;border-radius:5px;object-fit:cover}.slide p{padding:10px;font-size:1.3rem}#contact-form{display:flex;flex-direction:column;align-items:center;padding:20px;border-radius:5px;max-width:500px;margin:40px auto;background-color:rgb(0,0,0,.3);box-shadow:0 0 10pxx rgb(0,0,0,.2)}#contact-form h5{font-weight:900;font-size:1.7rem;color:#fff;margin:40px auto}#contact-form input{width:100%;border-radius:5px;padding:10px;margin-bottom:20px;border:none;border-bottom:1px solid #30303033}#send-btn{background:#25d366;color:#000;padding:10px 20px;border:none;margin:10px;font-weight:700;border-radius:5px}#send-btn:hover{background:#1da335}#contact-form input:focus{border:none;font-weight:600;outline:0;caret-color:#202175}#contact-form input[placeholder="Enter your Name..."]{border:1px solid #34d734}footer{background-color:rgb(0,0,0,.7);padding:20px}.footer-content{display:flex;flex-wrap:wrap;justify-content:space-between;max-width:800px;margin:0 auto}.footer-section{flex-basis:30%;margin:20px}.footer-section h3{margin-top:0;margin-bottom:5px;color:#f5f5f5}.footer-section ul{list-style:none;font-size:13px;padding:0;margin:0}.footer-section li{margin-bottom:10px}.footer-section a{color:#929292;text-decoration:none}.footer-bottom{margin-top:20px;border:1px solid #444;padding-top:10px;color:#949495}.fa-location{color:#797171}.navlinks.active{background:#72728b}@media (max-width:500px){.navlinks,body,nav ul{width:100%;margin:0}body{padding:0;scroll-behavior:smooth;background:linear-gradient(360deg,#141474,#000)}.loader{font-size:1.5rem}.navlinks{display:block;top:-100%;left:0;right:0;align-items:center;justify-content:center;transition:.4s ease-in-out;position:absolute}.navlinks.active{top:-1%;z-index:100}nav .get-btn{background:#1c38eb;place-self:center;margin:10px}nav .get-btn:hover{box-shadow:-1px -1px 5px #99c8cd;border:1px solid #99c8cd;background:#bbc3f6}nav ul{display:block;justify-self:center;background:linear-gradient(360deg ,#353542 ,#2c187d)}nav li{line-height:2;color:#fff}.navlinks a{color:#fff;font-weight:900}.intro .hello{animation:1.7s sliden}@keyframes sliden{0%{transform:translateY(-50%);opacity:0}}.intro .word{font-weight:800;position:relative;font-size:2.5rem;margin-bottom:10px;text-shadow:0 0 2px #2c89db;background:linear-gradient(to right ,#cacde4,#00f);-webkit-text-fill-color:transparent;-webkit-background-clip:text}.intro .word::before{content:"";position:absolute;bottom:0;background:linear-gradient(to right ,#fff,#00f);left:10%;height:3px;border-radius:3px;margin-top:10px;width:90%}.intro img{margin:20px 20px 50px;place-self:center;animation:1.7s slidein;width:180px;height:180px;box-shadow:0 0 5px #fff}@keyframes slidein{0%{transform:translateY(500%);opacity:0}}.aboutme .aboutwords{gap:4px;column-count:1;margin:5px;font-weight:700;font-size:1.6rem;column-count:1;gap:5px;line-height:2;text-align:center}.aboutme h4{font-size:2rem;text-shadow:0 -2px 5px #fff}.aboutme{border:2px solid transparent;padding:5px;margin:40px 5px 5px;background:linear-gradient(rgb(0,0,0,.1),rgb(0,0,0,.7));border-radius:5px;color:#fff;box-shadow:0 0 6px #fff;animation-timeline:view(500px 0)}.hide-on-small{display:none}header h1{font-size:30px}header{padding-bottom:5px;background:linear-gradient(to right ,#000,#141474)}.intro{flex-direction:column;margin-top:70px}.hello h2,header h1{color:#fff}.hamburgermenu span{background:#fff}.navlinks a,.navlinks li,.navlinks ul{text-align:center}}@media (min-width:502px){a{color:#6495ed}.hamburgermenu{display:none}.intro .word::before{content:"";position:absolute;bottom:0;background:linear-gradient(to right ,#faf4f4,#00f);height:3px;border-radius:3px;margin-top:10px}.intro img{width:200px;height:160px;margin:10px;animation:1.7s slidein}@keyframes slidein{0%{transform:translateX(100%);opacity:0}}.intro .word{font-weight:1000;position:relative;font-size:1.6em;text-shadow:0 0 5px #080818;background:linear-gradient(to right ,#8a93e3,#698adb);-webkit-text-fill-color:transparent;-webkit-background-clip:text;text-wrap:wrap;overflow:hidden;animation:none}.aboutme{background:#12123c;place-items:center;place-self:center;margin:20px 10px;padding:5px;text-align:center;border-radius:5px;box-shadow:0 0 10px #fff;opacity:1}.aboutme h4{font-size:25px;margin:5px;color:#6a9cf7;font-weight:1000}.slide{transform:translateY(20%)}.slide img{border-radius:3px 3px 0 0;perspective:200px}.contact-info{display:grid;align-items:center;left:30%;position:relative;justify-items:center;grid-template-columns:repeat(4,1fr);gap:5px}.aboutme .aboutwords{column-count:2;color:#fff;line-height:1.3;font-weight:600}.intro .hello{animation:1.7s slideout}@keyframes slideout{0%{transform:translateX(-100%);opacity:0}}.navlinks a{color:#e5e8ec;font-weight:600;transition:.5s ease-in-out}.navlinks a:hover{color:#8b8b8b;font-weight:600}.navlinks .get-btn{color:#fff;margin-right:5px;background:rgba(9,41,114,.7)}.fa-phone{color:#c6c6c6}.intro{margin:50px 5px 70px}body{background:linear-gradient(black,#00f)}header h1{border-radius:5px;box-shadow:0 0 5px #fff;background:#fafafb}}@media (min-width:600px){.slider{grid-template-columns:repeat(3,1fr);box-shadow:0 0 15px #fff;background:rgb(0,0,0,.9)}.intro{margin:30px 30px 70px}.intro img{width:240px;height:200px;animation:1.7s slidein}@keyframes slidein{0%{transform:translateX(100%);opacity:0}}.intro .hello{font-size:2rem;animation:1.5s slideout}@keyframes slideout{0%{transform:translateX(-100%);opacity:0}}}
@media (max-width: 500px){
    .aboutme{
        margin-top: 90px;
    }
}
@media (min-width: 502px) {
    .contact-info{
        left: 6%;
    }
}
@media (min-width: 610px) and (max-width: 767px){
    .intro .word {
        text-align: center;
        font-size: 2.3rem;
        left: 0;
        right: 0;
    }
}

@media (min-width: 630px) and (max-width: 647px){
    .intro .hello {
        text-align: center;
        font-size: 2.3rem;
        left: 0;
        right: 0;
    }
}
.slider .slide{
    width: 80%;
    height: auto;
    transition: all .8s ease;
}
.slider .slide:hover{
     transform: scale(1.1);
     box-shadow: 0 0 10px black;
     z-index: 100;
}
.slide{
    border: none;
    filter: drop-shadow(0 0 5px white);
        box-shadow: none;
    transition: all 1s ease;
}
.tooltip{
    color: black;
    font-weight: 700;
    position: absolute;
    top: 70%;
    padding: 5px 5px;
    left: 80%;
    font-size: 20px;
    font-weight: 1000;
    width: auto;
    height: auto;
    z-index: 100;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    background: #3D67B7;
}
@media (min-width: 500px){
    .tooltip{
        display: none;
    }
}
footer{
    background: rgb(0,0,0,.9);
}
.social-widget{
    place-self: center;
    text-align: center;
    color: white;
    position: relative;
    left: 10%;
    justify-content: center ;
}
.messageinfo{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    z-index: 100;
    transition: all 0.5s ease;
    display: none;
    color: white;
    text-align: center;
    padding: 10px 5px;
    box-shadow: 0 0 4px white;
    background: rgb(0,0,0,.5);
}
.messageinfo h6{
    color: green;
    font-size: 1.8rem;
}
.form{
    transition: all 0.5s ease;
}
body{
    background: black;
}
.aboutme{
    background: black;
}
@media screen and (min-width: 481px) {
    

.aboutme h4{
    color: #FFFFFF;
    font-size: 2em;
    text-shadow: 0 0 5px white;
}
}
footer{
    border-top: 1px solid white;
}
.slide {
    height: auto;
    padding-bottom: 0.5em;
}
.slide p{
    font-size: 1em;
}
.form{
    box-shadow: 0 0 10px white;
}
input{
    text-align: center;
    border-bottom: 10px solid green;
    background: #D1D1D1;
    
}

@media screen and (max-width: 480px) {
    .aboutme .aboutwords{
        line-height: 1.3;
        margin-bottom: 15px;
    }
    .aboutme{
    margin-bottom: 10px;
    }
    .proj h3{
        margin-top: 10px;
    }
    .proj{
        margin-bottom: 20px;
    }
    .contact-info{
        left: 0%;
    }
}
.loaders{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.loaders p{
   height: 40px;
   width: 3px;
   padding: 3px;
   align-self: center;
   position:  relative;
   animation: bounce .5s alternate infinite;
   border-radius: 50px;
   background: grey;
}
@keyframes bounce{
    0%{
        transform: translateY(0);
    } 
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(-20px);
    }
}
.loaders p:nth-child(1){
    animation-delay: .1s;
}

.loaders p:nth-child(2){
    animation-delay: .2s;
}

.loaders p:nth-child(3){
    animation-delay: .3s;
}

.loaders p:nth-child(4){
    animation-delay: .4s;
}
.project p{
    color: #ACACACF7;
    font-weight: 700;
}
.project h5{
    color: white;
    font-size: clamp(1rem, 2vw + 1rem , 2.2rem);
}
.slide img{
    border-bottom-right-radius: 0 ;
    border-bottom-left-radius: 0 ;
}
.slide{
    transform: translate(0);
    opacity: 0;
    height: 0px;
    background: #3E4056;
}
.slide.sho{
    height: auto;
    opacity: 1;
}
.aboutme .aboutwords{
    line-height: 1;
    font-weight: 100;
    text-align: start;
    font-size: 1.6rem;
}

.aboutme .aboutwords{
   opacity: .2;
   transition: all .5s ease-in-out;
    text-align: center;
}
.aboutme .aboutwords.sho{
    opacity: 1;
}

.contacts{
    display: grid;
    text-align: center;
}
.allfooter{
    text-align: center;
}
.theme{
    text-align: center;
    color: var(--maincolor);
}
#theme{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: transparent;
    border: none;
}
.dark{
    border: 1px solid white;
    padding: 10px;
    width: 100%;
    position: relative;
    left: -0%;
    top: -25%;
    z-index: 1;
    border-radius: 50%;
}

.bright{
    position: relative;
    top: 10%;
    display: none;
    border-radius: 50%;
    border: 5px solid black;
    padding: 10px;
    width: 100%;
}
.dark.show{
    display: none;
}
.bright.show{
   display: block; 
}
.theme p{
    margin: 5px;
}
.dark-mode{
    background: var(--background);
}
@media screen and (max-width: 480px){
.navlinks.active{
    left: 0;
    display: flex;
    justify-content: center;
    right: 0;
    top: 0;
    background: black;
    height: 100vh;
    width: 100vw;
    align-items: center;
}
.navlinks ul{
    opacity: 1;
}
.tooltip{
    display: none;
}

.navlinks ul{
    background: none;
}
}
/*header{

    z-index: 100;
}*/
.news{
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    box-shadow:  0 0 5px white;
    place-self: center;
    z-index: 100;
    margin-bottom: 10px;
}
.newsbox{
    display: grid;
    z-index: 1;
    padding: 10px 10px;
    place-items: center;
    color: white;
}
.btn-news{
    color: white;
    font-weight: 500;
    padding: 5px 10px;
    border: none;
    background: #4090F5;
    transition: all .5s ease ;
    z-index: 1;
    border-radius: 5px;
    justify-self: center;
}
.btn-news:hover{
    color: white;
    background: #0A3468;
}
footer{
    z-index: -1;
    border: none;
    padding-top: 40px;
    
}
#newsDiv{
    word-wrap: wrap;
}
.footer-section{
   /* display: grid;
    grid-template-columns: repeat(2, 1fr);*/
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    place-items: center;
    margin: 0;
    justify-content: center;
}
.contact-info{
    display: grid;
    border: 0px solid grey;
    grid-template-columns: repeat(1, 1fr);
}
.intro img{
    box-shadow: 1px 3px 5px white;
}
body{
    font-family: "Montserrat",sans-serif;
    text-shadow: none;
}
.aboutme .aboutwords{
    text-align: start;
    font-family: "Montserrat",sans-serif;
    font-size: clamp(1.5rem, 2vw, 1.4rem);
    line-height: 1.3;
}
.aboutme h4{
    text-shadow: none;
    font-family: "Montserrat",sans-serif;
    
}
.slide h5{
    font-size: clamp(1.3rem, 2vw ,2rem);
    
}
#contact-form h5{ font-family: "Montserrat", sans-serif;
}
.proj h3{
    text-shadow: none;
}
details{
    transition: all .5s ease-out;
}
.slider .slide:hover{
    transform: scale(1);
}
details .content-project{
    overflow: hidden;
    transition: height .5s ease-in-out;
    height: 0;
}
/*details[open] .content-project{
    max-height: 100px;
    
}*/
#faq{
    background: rgb(255,255,255,0.1);
    border-radius: 15px;
    border: 1px solid rgb(255,255,255,0.2);
    color: white;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 20px rgb(0,0,0,.4);
    -webkit-backdrop-filter: blur(10px);
    padding: 1.6rem;
}
#faq h5{
    font-size: clamp(1.4rem, 2vw + .3rem, 1.7rem);
    text-align: center;
     color: #93A1B5;
}
#faq p{
    color: #7E838A;
}
/*new background styling for each section
*/
.aboutme {
    
    background: rgb(255,255,255,0.1);
    border-radius: 15px;
    border: 1px solid rgb(255,255,255,0.2);
    color: white;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 20px rgb(0,0,0,.4);
    -webkit-backdrop-filter: blur(10px);
}
.project{
    border-radius: 16px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding-bottom: 10px;
    background: rgb(255,255,255,.1);
    border: 1px solid rgb(255,255,255,0.2);
    color: white;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 20px rgb(0,0,0,.4);
    -webkit-backdrop-filter: blur(10px);
    border-top: 1px solid transparent;
}
.slider{
    background : none;
    box-shadow: none;
   border: none;
   padding: 0 0 0 0;
}
.slider .slide{
    box-shadow: 0 1px 2px white;
}
.proj{
    border-radius: 16px;
    margin: 0;
    border-bottom-left-radius: 0;
    
    border-bottom-right-radius: 0;
    background: rgb(255,255,255,0.1);
    
    border: 1px solid rgb(255,255,255,0.2);
    color: #4F86D4;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 20px rgb(0,0,0,.4);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 0px solid ;
}
.proj h3:first-letter{
    color : white;
}
.aboutme h4{
    color:  #4F86D4;
}
.aboutme h4:first-letter{
    color: white;
}
.intro .word{
    font-size: clamp(2.5rem, 2vw + .5rem, 2.3rem);
}
@media screen and (min-width: 481px)and (max-width: 768px){
    .intro .word{
        color:  #4F86D4;
        font-size: 3.8rem;
    }
    #faq{
        display: grid;
        place-items: center;
        gap: 10px;
    }
}

@media screen and (min-width: 769px){
    .intro .word{
        color:  #4F86D4;
        font-size: 3.8rem;
    }
    #faq{
        display: grid;
        place-items: center;
        gap: 10px; 
    }
}
.contacts p{
    font-size: clamp(.8rem, 2vw + .5rem, 1.3rem);
    font-weight: 500;
}
.hamburgermenu span{
    border-radius: 0px;
}
.loaders p{
    border-radius: 0;
    transition: rotate(45px);
    background: linear-gradient(to top, white, #338AF0);
}
.project .slide:nth-child(1){
    transform: translateX(-50%) scale(.5);
    opacity: .0;
}

.project .slide:nth-child(1).sho{
    transform: translateX(0) scale(1);
    opacity: 1;
}
.project .slide:nth-child(2){
    transform: translateX(10%) scale(.5);
    opacity: 0.0;
}

.project .slide:nth-child(2).sho{
    transform: translateX(0) scale(1);
    opacity: 1;
}

.project .slide:nth-child(3){
    transform: rotate(10deg) scale(.5);
    
    opacity: 0.0;
}

.project .slide:nth-child(3).sho{
    transform: rotate(0) scale(1);
    opacity : 1;
}